{% extends "::base.html.twig" %}

{% block title %}Places{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Places</h1>
        <table class="table table-responsive ">
            <thead>
                <th>Name</th>
                <th>Events Count</th>
            </thead>
            <tbody>
                {% for place in places %}
                <tr>
                    <td>{{ place.name }}</td>
                    <td>{{ place.events.count }}</td>
                    <td>
                        <a href="places/edit/{{ place.id }}" class="btn btn-primary">Edit</a>
                        <a href="places/delete/{{ place.id }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_place_create') }}" class="btn btn-success">Add place</a>
    </div>
{% endblock %}
